<%- include('include/_header')%>

    <div class="dash" style="margin-top: 10rem;">
        <h3>Welcome Back</h3>

            <form  action="/logout" method="post">
        <button>Log Out</button>
        </form>
   </div>

    <%- include('include/_footer')%>