<%- include('include/_header')%>


<!-- Home  -->

<section class="home revealid="home">
    <div class="home-text">
        <h3>Hello We Are</h3>
        <h1>Donate <span>Life</span></h1>
        <h5>from <span>Navsari, Gujarat</span></h5>
        <p>We  aims to save life of others by donating blood</p>

        <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <a href="#" class="btn">About Us</a>
    </div>
    <div class="home-img">
        <img src="./img/5.png" alt="img">
    </div>
</section>

<!-- Video Section  -->


<section class="video" id="video">
        <video  id="width" autoplay plays-inline loop muted>
            <source src="./videos/Safe Blood For All(1080P_HD).mp4" >
        </video>
</section>



<!-- Services  -->
<section class="sub-services reveal" id="sub-services">
    <div class="item">
        <div class="sub-box">
            <div class="sub-img">
                <img src="./img/target.svg" alt="">
            </div>
            <h3>Our Aim</h3>
            <p>The main objective of the Blood Bank Management System is to manage the details 
                of Blood ,Donor,Blood Group,Blood Bank,Stock.</p>
        </div>


        <div class="sub-box">
            <div class="sub-img">
                <img src="./img/brush.svg" alt="">
            </div>
            <h3>Our Aim</h3>
            <p>The main objective of the Blood Bank Management System is to manage the details 
                of Blood ,Donor,Blood Group,Blood Bank,Stock.</p>
        </div>


        <div class="sub-box">
            <div class="sub-img">
                <img src="./img/energy.svg" alt="">
            </div>
            <h3>Our Aim</h3>
            <p>The main objective of the Blood Bank Management System is to manage the details 
                of Blood ,Donor,Blood Group,Blood Bank,Stock.</p>
        </div>
    </div>
</section>


<!-- About  -->
<section class="about reveal" id="about">
    <div class="about-img">
        <img src="./img/4.png  " alt="">
    </div>
    <div class="about-txt">
        <h3>Donate Life</h3>
        <h2>We Are Managing Blood Bank System</h2>
        <p>We are managing the blood request, blood donations, blood stock, patient-donor information,
            providing safe filtered blood and many more services.
        </p>
        <a href="#" class="btn">Contact Us</a>
    </div>
</section>


<!-- Portfolio   -->
<section class="portfolio reveal" id="portfolio">
    <div class="heading">
        <h3>Portfolio</h3>
        <h2>Our Work</h2>
        <p>Write Something About The Awareness About Blood Donation Camp etc etc.</p>
    </div>
    <div class="portfolio-content">
        <div class="col">
            <img src="./img/work1.jpg" alt="">
            <div class="layer">
                <h3>Web Design</h3>
                <h5>Popup</h5>
            </div>
        </div>

        <div class="col">
            <img src="./img/work2.jpg" alt="">
            <div class="layer">
                <h3>Web Design</h3>
                <h5>Popup</h5>
            </div>
        </div>

        <div class="col">
            <img src="./img/work3.jpg" alt="">
            <div class="layer">
                <h3>Web Design</h3>
                <h5>Popup</h5>
            </div>
        </div>

        <div class="col">
            <img src="./img/work4.jpg" alt="">
            <div class="layer">
                <h3>Web Design</h3>
                <h5>Popup</h5>
            </div>
        </div>

        <div class="col">
            <img src="./img/work5.jpg" alt="">
            <div class="layer">
                <h3>Web Design</h3>
                <h5>Popup</h5>
            </div>
        </div>


        <div class="col">
            <img src="./img/work6.jpg" alt="">
            <div class="layer">
                <h3>Web Design</h3>
                <h5>Popup</h5>
            </div>
        </div>

    </div>
</section>


<!-- services  -->
<section class="service reveal" id="service">
    <div class="heading">
        <h3>Services</h3>
        <h2>What We Do?</h2>
        <p>We are managing the blood request, blood donations, blood stock, <br > patient-donor information,
            providing safe filtered blood and many more services.</p>
    </div>

    <div class="service-content">
        <div class="row">
            <div class="s s-one">
                <img src="./img/anchor.svg" alt="">
            </div>
            <h3>Blood Storage</h3>
            <h5>We store safest blood of all blood groups which you can use for any kind of  treatments or in an emergency.
                We have safest blood storage.
            </h5>
        </div>

        <div class="row">
            <div class="s s-two">
                <img src="./img/contact.svg" alt="">
            </div>
            <h3>Blood Donation</h3>
            <h5>Donation of blood is an selfless service that we do for mankind! We allow you to save a life by donating blood to the ones who need it.</h5>
        </div>

        <div class="row">
            <div class="s s-three">
                <img src="./img/physics.svg" alt="">
            </div>
            <h3>Provision Of Red Blood Cells</h3>
            <h5>Lowering in the count of red blood cells could be dangerous. We provide red blood cells for various treatment / in case of emergency</h5>
        </div>

        <div class="row">
            <div class="s s-four">
                <img src="./img/web.svg" alt="">
            </div>
            <h3>Provision of Platelets</h3>
            <h5>Platelets play an important role in blocking the blood flow at the times of injuries. We also provide platelets to maintain its count on your blood.<h5>
        </div>

    </div>
</section>

<!-- Work (Achievement) -->
<section class="cta reveal id="cta">

    <div class="heading">
        <h2>Collected 300+ blood samples <br> successfully</h2>
        </div>

    <div class="cta-box">

        <div class="wrap one">
            <h3>300+</h3>
            <p>Collected Blood Samples</p>
        </div>

        <div class="wrap two">
            <h3>100+</h3>
            <p>Blood Donation Camps</p>
        </div>

        <div class="wrap three">
            <h3>20+</h3>
            <p>Per Day Donor</p>
        </div>

    </div>
</section>


<!-- Contact Us  -->
<section class="contact reveal" id="contact">
    <div class="container">
        <div class="center">
            <h3>Let's talk about everything</h3>
            <p>Please submit your feedback</p>
        </div>

        <div class="action">
            <form action="">

                <input type="text" name="fname" id="fname" placeholder="First Name">


                <input type="text" name="lname" id="lname" placeholder="Last  Name">


                <input type="text" name="email" id="email" placeholder="example@gmail.coml">


                <textarea name="message" id="message" placeholder="Message Here" cols="30" rows="5"></textarea>

                <input type="submit" value="Send Message" class="btn">
                
            </form>
        </div>
    

    </div>


</section>




<%- include('include/_footer')%>