
<h1>Reset Password: <%= email %> </h1>
<form action="" method="post">
    <label for="password" >password</label>
    <input type="text" name="password" id="password" placeholder="Enter your password">
    <br>
    <label for="password2" >password2</label>
    <input type="text" name="password2" id="password2" placeholder="Enter your password">
    <br>

    <input type="submit" value="Reset Password" />
</form>